@import "tailwindcss";

@theme {
  --font-sans: "Unbounded", system-ui, sans-serif;
}

html {
  background-color: #5da5d5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  height: -webkit-fill-available;
}

body {
  background-color: #5da5d5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  background-color: #5da5d5;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
